<div class="row">
	<div class="col-md-12">

		<table class="table table-striped">
			<thead>
				<th>Type</th>
				<th>Stock</th>
				<th>Add Bottles</th>
			</thead>
			<tbody>
				<tr ng-repeat="bottleType in getBottleTypes()">
					<td>{{ bottleType.name }}</td>
					<td>{{ bottleType.stock }}</td>
					<td>
						<input type="text" ng-model="newBottleStock" />
						<button ng-click="addBottle(bottleType, newBottleStock)" class="btn">Add</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
